.loginCard {
  background: linear-gradient(to bottom, #340d9d, #05294d);
  width: 25rem;
  height: 35rem;
  border-radius: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // gap: 3rem;
  color: #fff;

  & .warning {
    text-align: center;
    width: 100%;
    font-size: 14px;
  }

  & .incorrect {
    text-align: center;
    color: #f80b37;
    font-size: 12px;
  }

  &__img {
    width: 70px;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    & img {
      border-radius: 100%;
      width: 100%;
      height: 100%;
    }
  }

  &__inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &--container {
      display: flex;
      flex-direction: column;
      gap: 0.7rem;

      & label {
        font-weight: bold;
        font-size: 18px;
        padding: 0 0.2rem;
      }
      & .input {
        width: 100%;
        height: auto;
        position: relative;

        & input {
          width: 100%;
          height: 2.5rem;
          padding-left: 0.7rem;
          font-size: 16px;
          border-radius: 5px;
        }

        & i {
          cursor: pointer;
          position: absolute;
          font-size: 1rem;
          top: 0.8rem;
          right: 1rem;
          color: #05294d;
        }
      }
    }
  }

  &__button {
    width: 100%;
    height: 2.5rem;
    background-color: #545cee;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    // margin-top: 2rem;
    /* padding-top: 2rem; */

    &:hover {
      cursor: pointer;
      background-color: #3c44e2;
    }
  }
}

@media screen and (width >= 768px) {
  .loginCard {
    padding: 2rem;
  }
}
