.home {
  width: 100%;
  height: auto;
  padding-top: 5rem;
  display: flex;
  justify-content: center;

  &__container {
    width: 75rem;
    height: auto;
    margin: 4rem 0;
  }
}

@media screen and (width >= 768px) {
  .home {
    &__container {
      padding: 0 1.6rem;
      display: grid;
      grid-template-columns: 30% 70%;
      // padding-left: 0.5rem;
    }
  }
}
@media screen and (width >= 1024px) {
  .home {
    &__container {
      gap: 2rem;
      grid-template-columns: 23% 74%;
    }
  }
}
@media screen and (width >= 1500px) {
  .home {
    &__container {
      padding: 0;
      padding-left: 0.5rem;
    }
  }
}
