@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Este troso de código es para animar los filtros */
.expand-enter {
  opacity: 0;
  transform: translateY(-20px);
}
.expand-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.expand-exit {
  opacity: 1;
}
.expand-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}

.login {
  background: linear-gradient(to left, #0a577b, #351491);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;
  z-index: 10;
}

.loginCard {
  background: linear-gradient(to bottom, #340d9d, #05294d);
  width: 25rem;
  height: 35rem;
  border-radius: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.loginCard__img {
  width: 70px;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.loginCard__img img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}
.loginCard__inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.loginCard__inputs--container {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.loginCard__inputs--container label {
  font-weight: bold;
  font-size: 18px;
}
.loginCard__inputs--container input {
  height: 2.5rem;
  padding-left: 0.7rem;
  font-size: 16px;
  border-radius: 5px;
}
.loginCard__inputs--container p {
  font-size: 14px;
}
.loginCard__button {
  width: 100%;
  height: 2.5rem;
  background-color: #545cee;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  /* padding-top: 2rem; */
}
.loginCard__button:hover {
  cursor: pointer;
  background-color: #3c44e2;
}

@media screen and (width >= 768px) {
  .loginCard {
    padding: 2rem;
  }
}
.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7411764706);
  display: flex;
  justify-content: center;
  z-index: 100;
  align-items: center;
}

.lds-ripple {
  position: absolute;
}

.lds-ripple div {
  position: absolute;
  border: 3px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -50px;
    left: -50px;
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}
.navbar {
  background: linear-gradient(to right, #471ac5, #074f97);
  width: 100%;
  height: 5rem;
  box-shadow: 0px 0px 10px #866ae6;
  outline: 1px solid #221061;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 5;
}
.navbar__container {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.navbar__container--logo {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.navbar__container--logo img {
  width: 100%;
  height: 100%;
}
.navbar__container--bars {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}
.navbar__container--bars i {
  font-size: 2rem;
  color: #fff;
}
.navbar__container--fondo {
  width: 100%;
  height: 110vh;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(26, 7, 151, 0.4431372549);
  z-index: 1;
}
.navbar__container--nav {
  transition: transform 0.5s ease-in-out;
}
.navbar__container--active, .navbar__container--inActive {
  overflow-y: scroll;
  width: 17rem;
  height: 100vh;
  position: absolute;
  background: linear-gradient(to right, #471ac5, #074f97);
  top: 0;
  left: 0;
  z-index: 10;
  transform: translateX(0%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 6rem 1rem;
}
.navbar__container--active .nav__inActive, .navbar__container--inActive .nav__inActive {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
  background: linear-gradient(to right, rgba(112, 60, 255, 0.6431372549), rgba(46, 141, 236, 0.6274509804));
  border: none;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__container--active .nav__inActive i, .navbar__container--inActive .nav__inActive i {
  font-size: 1rem;
  color: #ececec;
}
.navbar__container--active .nav__search, .navbar__container--inActive .nav__search {
  display: flex;
  gap: 1rem;
}
.navbar__container--active .nav__search input, .navbar__container--inActive .nav__search input {
  width: 11.5rem;
  height: 2.5rem;
  border-radius: 5px;
  border: 1px solid #7244fc;
  font-size: 1rem;
  padding-left: 0.8rem;
  border: none;
}
.navbar__container--active .nav__search input:focus, .navbar__container--inActive .nav__search input:focus {
  outline: 1.5px solid #e6e3f1;
}
.navbar__container--active .nav__search > button, .navbar__container--inActive .nav__search > button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  border: none;
  color: #fff;
  background: linear-gradient(to right, #5315fd, #1188ff);
  font-size: 1rem;
}
.navbar__container--active .buttons, .navbar__container--inActive .buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.navbar__container--active .buttons button, .navbar__container--inActive .buttons button {
  width: 100%;
  height: 2.5rem;
  padding-left: 1rem;
  border: none;
  border-radius: 5px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(to right, #5315fd, #1188ff);
  font-weight: 600;
  font-size: 1rem;
}
.navbar__container--active .buttons button i, .navbar__container--inActive .buttons button i {
  font-size: 1rem;
}
.navbar__container--active .buttons button div, .navbar__container--inActive .buttons button div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navbar__container--inActive {
  transform: translateX(-100%);
}

@media screen and (width >= 410px) {
  .navbar__container--active, .navbar__container--inActive {
    width: 20rem;
  }
  .navbar__container--active .nav__search input, .navbar__container--inActive .nav__search input {
    width: 14.5rem;
  }
}
@keyframes deploy1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes deploy2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
@media screen and (width >= 768px) {
  .navbar__container {
    flex-direction: row;
    background-color: transparent;
    padding: 0 2rem 0 1rem;
  }
  .navbar__container--bars {
    display: none;
  }
  .navbar__container--nav {
    transition: transform 0.7s ease-in-out;
  }
  .navbar__container--inActive {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 2rem;
    transform: translateX(0%);
    position: static;
    background-color: transparent;
    padding: 0;
  }
  .navbar__container--inActive .nav__search {
    flex-direction: row;
    align-items: center;
  }
  .navbar__container--inActive .nav__search input {
    width: 22rem;
  }
  .navbar__container--inActive .nav__search > button {
    width: 2.5rem;
    height: 2.5rem;
    transition: 0.4s;
    cursor: pointer;
  }
  .navbar__container--inActive .nav__search > button:hover {
    background: linear-gradient(to right, #6026ff, #2d96ff);
    transform: scale(1.05);
  }
  .navbar__container--inActive .buttons button {
    width: max-content;
    margin: 0;
    padding-right: 1rem;
    cursor: pointer;
    transition: 0.4s;
  }
  .navbar__container--inActive .buttons button:hover {
    background: linear-gradient(to right, #6026ff, #2d96ff);
    transform: scale(1.05);
  }
  .navbar__container--inActive .buttons .nav__cuenta {
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    padding: 0;
    border-radius: 100%;
  }
  .navbar__container--inActive .buttons .nav__cuenta > i {
    color: #fff;
  }
}
@media screen and (width >= 1024px) {
  .navbar__container {
    width: 75rem;
    padding: 0 1rem;
  }
}
@media screen and (width >= 1500px) {
  .navbar__container {
    padding: 0;
  }
}
.home {
  width: 100%;
  height: auto;
  padding-top: 5rem;
  display: flex;
  justify-content: center;
}
.home__container {
  width: 100%;
  height: auto;
  gap: 3rem;
  width: 75rem;
  margin-top: 4rem;
}

@media screen and (width >= 768px) {
  .home__container {
    padding: 0 1.6rem;
    display: grid;
    grid-template-columns: 30% 70%;
  }
}
@media screen and (width >= 1024px) {
  .home__container {
    grid-template-columns: 23% 74%;
  }
}
@media screen and (width >= 1500px) {
  .home__container {
    padding: 0;
    padding-left: 0.5rem;
  }
}
.filter {
  width: 100%;
  height: auto;
}
.filter__container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.filter__container--title {
  width: 100%;
  height: 2.5rem;
  background: linear-gradient(to right, #5315fd, #1188ff);
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1rem;
  color: #ffffff;
}
.filter__container--title .title__text {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.filter__container .fondo__filters {
  width: 100%;
  height: auto;
  border-radius: 0 0 5px 5px;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.filter__container--options {
  width: 100%;
  height: auto;
}
.filter__container--options .buttons {
  width: 100%;
  height: 2.2rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: #f4f4f4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background: linear-gradient(to right, #5315fd, #1188ff);
  border-radius: 5px 5px 0 0;
}
.filter__container--options .list {
  width: 100%;
  height: auto;
  padding: 1rem;
  color: #e7e7e7;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 5px 5px;
  background: linear-gradient(to right, #5315fd, #1188ff);
}
.filter__container--options .list__options {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(173, 173, 173, 0.8509803922);
}
.filter__container--options .list__warning {
  font-size: 10px;
  color: #e75a5a;
  font-weight: 600;
}
.filter__viewer {
  background-color: #e2b6b6;
  outline: 1px solid #dbd9d9;
  border-radius: 5px;
  padding: 10px 10px 10px 3px;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  transition: 0.3s;
  margin-bottom: 1rem;
}
.filter__viewer:hover {
  box-shadow: 0px 12px 16px #866ae6;
}
.filter__viewer--item {
  padding: 0 10px;
  background-color: #3e1cad;
  border-radius: 15px;
  transition: 0.2s;
  color: #696868;
}
.filter__viewer--item p {
  font-size: 14px;
  margin: 1px 0 0 0;
  color: #a3a2a2;
  font-weight: 600;
}
.filter__viewer--item i {
  font-size: 12px;
  color: #a3a2a2;
}
.filter__viewer--item:hover {
  cursor: pointer;
  color: #000;
}

@media screen and (width >= 768px) {
  .filter {
    padding: 0;
  }
}
.productsList {
  width: 100%;
  height: 100dvh;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  place-items: center;
  gap: 2rem 0;
  overflow-y: scroll;
}

@media screen and (width >= 768px) {
  .productsList {
    margin-top: 0;
  }
}
.card {
  width: 17rem;
  height: 23rem;
  background-color: #ffffff;
  border: 1px #e6e6e6 solid;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 15px 20px rgba(184, 183, 186, 0.3019607843);
  cursor: pointer;
}
.card__img {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0fffd;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card__img img {
  min-width: 12rem;
  max-width: max-content;
  height: 8rem;
}
.card__info {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5px;
  position: relative;
  padding: 1rem;
}
.card__info p {
  margin: 0;
}
.card__info--date {
  width: max-content;
  position: absolute;
  bottom: 10px;
  /* background-color: aqua; */
  color: #c3c2c2;
}
.card__info--date:hover {
  color: #14043f;
}
.card__info--price {
  /* background-color:#8c84eb; */
  color: #14043f;
  width: max-content;
  height: 25px;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  right: 15px;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card b {
  font-weight: 500;
}

.product-detail {
  display: flex;
  flex-direction: column;
  justify-content: n;
  align-items: n;
  gap: 0.5rem, 0.5rem;
  position: relative;
  z-index: 2;
}

.product-detail__carimage.img-fluid {
  width: 100%;
  max-width: 800px;
  margin: auto auto;
}

.background {
  background-color: rgba(122, 108, 218, 0.689);
  padding: 2rem 3rem;
  padding-bottom: 4rem;
}

.product-detail__title {
  font-size: 3rem;
  position: relative;
}

.product-detail__containerinfo {
  width: 100%;
  display: flex;
  gap: 20%;
  justify-content: space-between;
}

div .product-detail__info.list-group {
  flex-grow: 1;
  font-size: 18px;
}

.info__list.list-group-item {
  background-color: rgb(255, 255, 255);
}

.product-detail__carrousel {
  margin: 4rem 0;
  overflow-x: scroll;
}

.product-detail__carrousel::-webkit-scrollbar-thumb {
  background-color: rgba(144, 130, 238, 0.497);
  height: 5px;
  border-radius: 50px;
}

.product-detail__carrousel::-webkit-scrollbar {
  color: rgba(144, 130, 238, 0.537);
  height: 5px;
}

.carrousel__products {
  display: flex;
  gap: 1rem;
  width: max-content;
}

#dropdown-basic-button {
  background-color: rgb(119, 108, 192);
  border: solid transparent;
}

div.dropdown-menu.show {
  display: flex;
  width: max-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: rgb(132, 118, 225);
  border: transparent;
}

.register {
  background: rgb(162, 130, 238);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.register form {
  background: white;
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form__selection {
  background-color: rgb(162, 130, 238);
  border: transparent;
  margin: auto;
  width: max-content;
  padding: 0.5rem 2rem;
  border-radius: 7px;
  color: white;
  margin-left: 1rem;
  cursor: pointer;
}

.btn.btn-primary, .btn.btn-secondary {
  background-color: rgb(162, 130, 238);
  border: transparent;
  margin: auto;
  width: max-content;
  padding: 0.5rem 2rem;
}

.btn.btn-primary:hover, .form__selection:hover {
  background-color: rgb(132, 88, 234);
  border: transparent;
}

/*# sourceMappingURL=style.css.map */
