$iconosBotones: #5024e0;
$morado-teñido: #3e1cad;
$morado-claro: #866ae6;
$morado-oscuro: #221061;
$neutro: #392d61;
$blanco: #fff;
$negro: #000;

$Open: "Open Sans", sans-serif;
$Poppins: "Poppins", sans-serif;
